/* Resetiranje defaultnih stilova */
body, h1, h2, p, ul, li, img, form, input, button, textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
